p.news-text {
    color: white;
    text-align: center;
}

div.news-text{
    /* outline: 2px solid red; */
    padding: 0px 100px 0px 100px;
    font-size: 1.1rem;
    margin-top: 70px;
    margin-bottom: -20px;
}
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                Bottum Big image gallery CSS
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    padding: 30px 50px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.tz-gallery {
    padding: 80px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '🔎';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}



.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media screen and (max-width: 1072px){
    div.news-text{
        /* outline: 2px solid red; */
        padding: 0px 60px 0px 60px;
        /* margin-top: 50px; */
    }
}

@media screen and (max-width: 975px){
    div.news-text{
        /* outline: 2px solid red; */
        padding: 0px 60px 0px 60px;
        font-size: 1rem;
        /* margin-top: 50px; */
    }
}

@media screen and (max-width: 491px){
    div.news-text{
        /* outline: 2px solid red; */
        padding: 0px 50px 0px 50px;
        font-size: 0.8rem;
        /* margin-top: 50px; */
    }
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                Top Auto Image Slider CSS
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

header.one-news {
    /* max-width: 1500px; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    /* border: 3px solid white; */
    margin-top: 50px;
    }

    .row {
    display: flex;
    overflow: hidden;
    }

    .imagegroup {
    display: flex;
    width: 100%;
    }

    .imagegroup img{
    flex-shrink: 0;
    object-fit: cover;
    margin: 3px;
    }

    .imagegroup {
    animation: travel 20s ease-in-out infinite;
    }

@keyframes travel {
0%, 100% {
    transform: translate3d(0,0,0);
    }
50% {
    transform: translate3d(-100%,0,0);
    }
}


/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                Comments
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

div.news-comments {
    width: 60%;
    /* outline: 2px solid red; */
    margin: auto;
    margin-bottom: 20px;
    border: 3px solid white;
    padding: 20px;
    border-radius: 10px;
}

button.comments-submit{
    width: 100%;
}

label.comments-label{
    color: #fff;
}


@media screen and (max-width: 1072px){
    div.news-comments {
        width: 70%;
 
    }
}

@media screen and (max-width: 975px){
    div.news-comments {
        width: 80%;

    }
}

@media screen and (max-width: 491px){
    div.news-comments {
        width: 90%;

    }
}

div.one-comment{
    display: flex;
    color: white;

}

div.user-avater-div{
    width: 10%;
    /* outline: 1px solid red; */
}

div.user-comment-div{
    width: 90%;
    margin-top: 10px;
    /* outline: 1px solid green; */
}

img.comment-user-avater{
    border-radius: 50%;
    width: 90%;
    border: 2px solid white;
}

h1.comment-user-name{
    font-size: 1.5rem;
}
h1.user-comment{
    font-size: 1rem;
    font-weight: 100;
}

@media screen and (max-width: 680px){
    div.user-avater-div{
        width: 15%;
        /* outline: 1px solid red; */
    }
    
    div.user-comment-div{
        width: 80%;
        /* outline: 1px solid green; */
    }
}

@media screen and (max-width: 491px){
    h1.comment-user-name{
        font-size: 1.2rem;
    }
    h1.user-comment{
        font-size: 0.8rem;
        font-weight: 100;
    }
}

h1.admin-user{
    color: rgb(0, 182, 0);
}

div.one-comment{
    margin-bottom: 15px;
}